@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-content {
  background-color: #ffffff;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ListComponent {
  cursor: pointer;
}
